doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar
        a(href="/",id='home') Home
        a(href="/create") Criar
        a(href="/profile") Perfil
        a(href="/search") Pesquisar
        input(type="text", name="searchField", placeholder="Search something...")
    block content
