extends layout

block content

    //- Informação do recurso, e se o user é dono.


    //- Em relação ao recurso, recebe esta informação:
    //-             recInfo["classificacao"] = classif
    //-             recInfo["tamanho"] = recurso.tamanho / (1024*1024) //Conversão de bytes para mb. Esta conversão acho que está bem!
    //-             recInfo["dataCriacao"] = recurso.dataCriacao
    //-             recInfo["dataRegisto"] = recurso.dataRegisto
    //-             recInfo["dataUltimaMod"] = recurso.dataUltimaMod //TODO: Se as datas nao funcionarem, diz-me pq sei o que é.