extends layout

block content



    center

        h1  As minhas publicações

        button.w3-button.w3-xlarge.w3-blue-gray.w3-border.w3-border-white.w3-round-large Adicionar Publicação
        p
        .w3-round-large.w3-teal(style='width:90%;')
            .publicacao
                .pubInfo
                    ul.w3-ul
                        li Titulo: A
                        li Tipo : B
                        li Data Criação: 1-1-1
                        li Data Registo: 1-1-1
                        li Autor: C
                .pubButtons
                    button.w3-button.w3-large.w3-teal.w3-border.w3-border-white.w3-round-large Comentar
                    p
                    
                    button.w3-button.w3-large.w3-teal.w3-border.w3-border-white.w3-round-large Download
                .pubRating

                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star
                    span.fa.fa-star
                .pubDownload
                    button.w3-button.w3-large.w3-amber.w3-border.w3-border-white.w3-round-large Editar 
                    p
                    button.w3-button.w3-large.w3-red.w3-border.w3-border-white.w3-round-large Apagar
                    

        p
        .w3-round-large.w3-teal(style='width:90%;')
            .publicacao
                .pubInfo
                    ul.w3-ul
                        li Titulo: A
                        li Tipo : B
                        li Data Criação: 1-1-1
                        li Data Registo: 1-1-1
                        li Autor: C
                .pubButtons
                    button.w3-button.w3-large.w3-teal.w3-border.w3-border-white.w3-round-large Comentar
                    p
                    
                    button.w3-button.w3-large.w3-teal.w3-border.w3-border-white.w3-round-large Download
                .pubRating

                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star.checked
                    span.fa.fa-star
                    span.fa.fa-star
                .pubDownload
                    button.w3-button.w3-large.w3-amber.w3-border.w3-border-white.w3-round-large Editar 
                    p
                    button.w3-button.w3-large.w3-red.w3-border.w3-border-white.w3-round-large Apagar
                    